dist/
docs/
logs/
node_modules/
tmp/

.tmp/
.project/
.sass-cache/

.DS_Store
.idea

npm-debug.log
package-lock.json

app/config/appConfig.js

app/bower_components
app/resources/styles/*
!app/resources/styles/sass/
