<div class="form-group">
 	
 	<label for="textarea-{{label}}">{{label}}</label>

	<textarea 
		id="{{property}}"
		name="{{property}}"
		class="form-control" 
		ng-model="model[property]"
		rows="{{rows}}"
		ng-required="validations[property].required.value"
		ng-minlength="validations[property].minlength.value"
		ng-maxlength="validations[property].maxlength.value"
		ng-pattern="validations[property].pattern.value">
	</textarea>	

	<validationmessage
		type="input"
		property="{{property}}"
		form="form"
		validations="validations"
		results="results">
	</validationmessage>
<!-- 	
	<div ng-messages="results.messages[property]" role="alert">
		<div ng-message="required">
	    	<div class="alert alert-wrapper alert-danger">{{ results.messages[property].required }}</div>
	    </div>
	    <div ng-message="minlength">
	    	<div class="alert alert-wrapper alert-danger">{{ results.messages[property].minlength }}</div>
	    </div>
	    <div ng-message="maxlength">
	    	<div class="alert alert-wrapper alert-danger">{{ results.messages[property].maxlength }}</div>
	    </div>
	    <div ng-message="pattern">
	    	<div class="alert alert-wrapper alert-danger">{{ results.messages[property].pattern }}</div>
	    </div>
	</div>
	
	<div ng-if="form.$invalid && !form.$pristine" ng-messages="form[property].$error" role="alert">
		<div ng-message="required">
	    	<div class="alert alert-wrapper alert-danger">{{ validations[property].required.message }}</div>
	    </div>
	    <div ng-message="minlength">
	    	<div class="alert alert-wrapper alert-danger">{{ validations[property].minlength.message }}</div>
	    </div>
	    <div ng-message="maxlength">
	    	<div class="alert alert-wrapper alert-danger">{{ validations[property].maxlength.message }}</div>
	    </div>
	    <div ng-message="pattern">
	    	<div class="alert alert-wrapper alert-danger">{{ validations[property].pattern.message }}</div>
	    </div>
	</div>
 -->
</div>