<div class="form-group">
 	
 	<span ng-if="type === undefined || type == 'text' || type == 'password'">
	 	<label for="">{{label}}</label>
		<input 
			id=""
			type="{{type}}" 
			class="form-control" 
			ng-model="model[property]"
			placeholder="{{placeholder}}"/>
	</span>

	<span ng-if="type == 'checkbox'">
		<div class="col-sm-3">
			<span class="pull-right">{{label}}</span>
		</div>
		<div class="col-sm-6">
			<input 
				id=""
				type="{{type}}" 
				ng-model="model[property]"
				ng-false-value="{{falsevalue}}" 
				ng-true-value="{{truevalue}}"/>
			<span>{{placeholder}}</span>
		</div>
	</span>

	<div ng-messages="results.messages[property]" role="alert">
		<div ng-message="required">
	    	<div class="alert alert-wrapper alert-danger">{{ results.messages[property].required }}</div>
	    </div>
	    <div ng-message="minLength">
	    	<div class="alert alert-wrapper alert-danger">{{ results.messages[property].minLength }}</div>
	    </div>
	    <div ng-message="maxLength">
	    	<div class="alert alert-wrapper alert-danger">{{ results.messages[property].maxLength }}</div>
	    </div>
	    <div ng-message="pattern">
	    	<div class="alert alert-wrapper alert-danger">{{ results.messages[property].pattern }}</div>
	    </div>
	</div>
</div>