<div class="form-group" ng-class="{ 'has-error': form[property].$invalid && form[property].$dirty, 'text-field-form-group': textField }">
 	
	<span ng-if="type === undefined || type == 'text' || type == 'password'">
		<label ng-if="label" for="{{property}}-input" class="control-label">{{label}}</label>
		<input
			id="{{property}}"
			name="{{property}}"
			type="{{type}}"
			class="form-control"
			ng-model="model[property]"
			ng-keydown="keydown($event)"
			ng-blur="blur($event)"
			placeholder="{{placeholder}}"
			aria-describedby="{{label}}"
			ng-required="validations[property].required.value"
			ng-minlength="validations[property].minlength.value"
			ng-maxlength="validations[property].maxlength.value"
			ng-pattern="validations[property].pattern.value"/>
		<span ng-if="hint" class="hint">{{ hint }}</span>
	</span>

	<span ng-if="type == 'checkbox'">
		<label ng-if="label" for="{{property}}-input" class="checkbox">{{label}}</label>
		<div class="checkbox-inline">
			<input 
				id="{{property}}"
				name="{{property}}"
				type="{{type}}"
				ng-change="change($event)"
				ng-model="model[property]"
				ng-false-value="{{falsevalue ? falsevalue : false}}" 
				ng-true-value="{{truevalue ? truevalue : true}}"
				aria-describedby="{{label}}"/>
			<span>{{placeholder}}</span>
		</div>
	</span>
	
	<validationmessage
		type="input"
		property="{{property}}"
		form="form"
		validations="validations"
		results="results">
	</validationmessage>
</div>