<div class="form-group">

 	<label for="select-{{label}}">{{label}}</label>

	<select 
		ng-if="!optionproperty"
		id="{{property}}"
		name="{{property}}"
		class="form-control"
		ng-model="model[property]"
		ng-options="key as option for (key, option) in options"
		ng-required="validations[property].required.value">
	</select>
	
	<select 
		ng-if="optionproperty"
		id="{{property}}"
		name="{{property}}"
		class="form-control"
		ng-model="model[property]"
		ng-options="option as option[optionproperty] for option in options track by option.id"
		ng-required="validations[property].required.value">
	</select>

	<validationmessage
		type="input"
		property="{{property}}"
		form="form"
		validations="validations"
		results="results">
	</validationmessage>
</div>