<div class="form-group">
 	
	<div ng-if="type === undefined || type == 'text' || type == 'password'">
		<label ng-if="label" for="{{property}}-input" class="control-label">{{label}}</label>
		<div ng-class="{'input-group':tip}">
			<input
				id="{{property}}-input"
				type="{{type}}"
				class="form-control"
				ng-model="model[property]"
				ng-keydown="keydown($event)"
				ng-blur="blur()"
				placeholder="{{placeholder}}"
				aria-describedby="{{label}}"/>
		</div>
	</div>

	<div ng-if="type == 'checkbox'">
		<label ng-if="label" for="{{property}}-input" class="checkbox">{{label}}</label>
		<div class="checkbox-inline">
			<input 
				id="{{property}}-input"
				type="{{type}}" 
				ng-model="model[property]"
				ng-false-value="{{falsevalue}}" 
				ng-true-value="{{truevalue}}"
				aria-describedby="{{label}}"/>
			<span>{{placeholder}}</span>
		</div>
	</div>

	<div ng-if="results.messages" ng-messages="results.messages[property]" role="alert">
		<div ng-message="required">
	    	<div class="alert alert-wrapper alert-danger">{{ results.messages[property].required }}</div>
	    </div>
	    <div ng-message="minLength">
	    	<div class="alert alert-wrapper alert-danger">{{ results.messages[property].minLength }}</div>
	    </div>
	    <div ng-message="maxLength">
	    	<div class="alert alert-wrapper alert-danger">{{ results.messages[property].maxLength }}</div>
	    </div>
	    <div ng-message="pattern">
	    	<div class="alert alert-wrapper alert-danger">{{ results.messages[property].pattern }}</div>
	    </div>
	</div>
</div>