<footer class="container-fluid footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="inline-list">
					<li>© Texas A&amp;M University Libraries</li>
					<li>
						<a href="http://www.tamu.edu">Texas A&amp;M University</a>
					</li>
					<li>
						<a href="http://library.tamu.edu/about/employment/index.html">Employment</a>
					</li>
					<li>
						<a href="http://library.tamu.edu/services/forms/contact-info.html">Webmaster</a>
					</li>
					<li>
						<a href="http://library.tamu.edu/about/general-information/legal-notices.html">Legal</a>
					</li>
					<li>
						<a href="http://vrlplus.cb.docutek.com/tamu/vrleb_question_patron.asp?virtual_desk_id=1">Comments</a>
					</li>
					<li>
						<a href="tel:+1-979-845-5741">979-845-5741</a></li><a href="tel:+1-979-845-5741">
					</a>
					<li>
						<a href="tel:+1-979-845-5741"></a><a href="http://library.tamu.edu/accessibility/index.html">Accessibility</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>