<header class="container-fluid global-nav">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">					
				<nav class="global-nav pull-right hidden-xs">
					<ul class="nav global-nav pull-right hidden-xs">
			        	<li><a href="#">Hours</a></li>
			          	<li><a href="#">Libraries</a></li>
			          	<li><a href="#">Ask Us</a></li>
			        </ul>
				</nav>
			</div>
		</div>
	</div>
</header>

<header class="container-fluid site-title">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<h1 class="tamu-lib"><a href="home">Texas A&amp;M University Libraries</a></h1>
			</div>
			<div class="col-lg-9">
				<div class="site"><h3>{{attr.title}}</h3></div>
			</div>
		</div>
	</div>
</header>